/* colors
#ece8ef
#ff9b54
#08415c
#56351e
#231e1e
*/

/* menu styling */
#tekst {
    margin: auto;
    background-color: blue;
    color: white;
}
nav 
{
    background-color: #56351e;
    color: white;
    z-index: 2;
}
nav .logo
{
    color: white;
}
.custom-toggler.navbar-toggler
{
    border-color: #ece8ef;
}
.navbar-toggler-icon
{
    background-color: #ece8ef;
}
.navbar-toggler-icon
{
    z-index: 3;
}
.nav-img
{
    display: inline-block;
    padding: 4px;
}
.nav-link
{
    color: #ece8ef !important;
}
.nav-link:hover
{
    color: white !important;
}
.image-button
{
    width: 32px;
    height: 32px;
    background-image: url(/static/login.svg);
    background-size: cover;
    border: none;
    cursor: pointer;
}


main
{
    background-color: #231e1e;
    min-height: 100vh;
}
.patroon
{
    background-image: url(/static/patroon2-op-10.svg);
    background-repeat: repeat;
    background-size: 300px 187.86px;
    background-position: 0 0;
}
a
{
    color: #ff9b54 !important;
    font-weight: 500 !important;
}
.light
{
    color: #ece8ef;
}
.dark
{
    color: #231e1e;
}
/* fonts */
.rem-title 
{
    font-family: "REM", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.crimson-pro-regular
{
    font-family: "Crimson Pro", serif !important;
    font-optical-sizing: auto;
    font-weight: 256;
    font-style: normal;
}
/* form */
.form
{
    text-align: center;
}
.button
{
    background-color: #08415c !important;
    border: 1px solid #ff9b54 !important;
    color: #ece8ef !important;
}
input
{
    background-color: #56351e !important;
    border: 1px solid #ff9b54 !important;
    color: #ece8ef !important;
}
input::placeholder
{
    color: #d6dfe4 !important; /* shade of #08415c */
}
input:focus
{
    box-shadow: 0 0 0 .25rem #08415c !important;
}
/* calendar table */
#calendar-container
{
    width: 62.5%;
    background-color: #231e1e;
}
.calendar
{
    width: 80%;
    margin: auto;
    table-layout: fixed;
    background-color: #231e1e;
    overflow: hidden;
    border-radius: 0 0 15px 15px;
    border-collapse: separate;
    border-spacing: 0;
}
.calendar th
{
    text-align: center;
    background-color: #ece8ef;
    color: #231e1e;
    border-bottom: solid;
    border-bottom-width: 0.5px;
    border-color: #ff9b54;
}
.calendar td
{
    border: solid;
    border-width: 0.5px;
    border-color: #ff9b54;
    height: 50px;
    background-color: #ece8ef;
    color: #231e1e;
    text-align: center;
}
.calendar td:hover
{
    background-color: #5a8092 !important;
    cursor: pointer !important;
}
#calendar-month
{
    font-size: 161.8%;
}
.calendar-header
{
    width: 80%;
    margin: auto;
    background-color: #ece8ef;
    border-radius: 15px 15px 0 0;
}
.calendar-button
{
    background-color: #56351e !important;
    border: 1px solid #ff9b54 !important;
    color: #ece8ef !important;
}
/* for smaller devices different margin */
@media screen and (max-width: 767px) {
    .calendar-header
    {
        width: 100%;
        margin: auto;
    }
    .calendar
    {
        width: 100%;
        margin: auto;
    }
    .calendar-container
    {
        width: 90%;
        margin: 0;
    }
    #calendar-container
    {
        width: 90%;
    }
}
.today
{
    background-color: #ff9b54 !important;
    color: #231e1e !important;
}
.deactivated
{
    background-color: #c5c1c7 !important;
    color: #231e1e !important;
}

/* appointments popup window */
.modal
{
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(33.73, 20.78, 11.76, 0.5);
    display: none;
    position: fixed;
}
.modal-content
{
    width: 70%;
    margin: 15% auto;
    padding: 20px;
    background-color: #56351e;
    text-align: center;
}