/* menu styling */
#tekst {
    margin: auto;
    background-color: blue;
    color: white;
}
nav 
{
    background-color: #56351e;
    color: white;
}
nav .logo
{
    color: white;
}
.custom-toggler.navbar-toggler
{
    border-color: #ece8ef;
}
.navbar-toggler-icon
{
    background-color: #ece8ef;
}
.navbar-toggler-icon
{
    z-index: 3;
}
.nav-img
{
    display: inline-block;
    padding: 4px;
}
.nav-link
{
    color: #ece8ef !important;
}
.nav-link:hover
{
    color: white !important;
}


main
{
    background-color: #231e1e;
}
.form
{
    text-align: center;
}
.button
{
    background-color: #56351e !important;
    border: 1px solid #ff9b54 !important;
    color: #ece8ef !important;
}