/* colors
#ece8ef
#ff9b54
#08415c
#56351e
#231e1e
*/

/* menu styling */
#tekst {
    margin: auto;
    background-color: blue;
    color: white;
}
nav 
{
    background-color: #56351e;
    color: white;
    z-index: 2;
}
nav .logo
{
    color: white;
}
.custom-toggler.navbar-toggler
{
    border-color: #ece8ef;
}
.navbar-toggler-icon
{
    background-color: #ece8ef;
}
.navbar-toggler-icon
{
    z-index: 3;
}
.nav-img
{
    display: inline-block;
    padding: 4px;
}
.nav-link
{
    color: #ece8ef !important;
}
.nav-link:hover
{
    color: white !important;
}
.image-button
{
    width: 32px;
    height: 32px;
    background-image: url(/static/login.svg);
    background-size: cover;
    border: none;
    cursor: pointer;
}


main
{
    background-color: #231e1e;
    min-height: 100vh;
}
.patroon
{
    background-image: url(/static/patroon2-op-10.svg);
    background-repeat: repeat;
    background-size: 300px 187.86px;
    background-position: 0 0;
}
a
{
    color: #ff9b54 !important;
    font-weight: 500 !important;
}
.light
{
    color: #ece8ef;
}
.dark
{
    color: #231e1e;
}

/* fonts */
.rem-title 
{
    font-family: "REM", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.crimson-pro-regular
{
    font-family: "Crimson Pro", serif !important;
    font-optical-sizing: auto;
    font-weight: 256;
    font-style: normal;
}

/* form */
.form
{
    text-align: center;
}
.button
{
    background-color: #08415c !important;
    border: 1px solid #ff9b54 !important;
    color: #ece8ef !important;
}
.close-button
{
    background-color: rgb(205, 1, 1) !important;
    border: 1px solid #ff9b54 !important;
    color: #ece8ef !important;
}
.dark-button
{
    background-color: #052b3d !important;
    border: 1px solid #ff9b54 !important;
    color: #ece8ef !important;
}
input
{
    background-color: #56351e !important;
    border: 1px solid #ff9b54 !important;
    color: #ece8ef !important;
}
input::placeholder
{
    color: #d6dfe4 !important; /* shade of #08415c */
}
input:focus
{
    box-shadow: 0 0 0 .25rem #08415c !important;
}
/* calendar table */
#calendar-container
{
    width: 62.5%;
    background-color: #231e1e;
}
.calendar
{
    width: 80%;
    margin: auto;
    table-layout: fixed;
    background-color: #231e1e;
    overflow: hidden;
    border-radius: 0 0 15px 15px;
    border-collapse: separate;
    border-spacing: 0;
}
.calendar th
{
    text-align: center;
    background-color: #ece8ef;
    color: #231e1e;
    border-bottom: solid;
    border-bottom-width: 0.5px;
    border-color: #ff9b54;
}
.calendar td
{
    position: relative;
    border: solid;
    border-width: 0.5px;
    border-color: #ff9b54;
    height: 50px;
    background-color: #ece8ef;
    color: #231e1e;
    text-align: center;
}
.calendar td:hover
{
    background-color: #5a8092 !important;
    cursor: pointer !important;
}
#calendar-month
{
    font-size: 161.8%;
}
.calendar-header
{
    width: 80%;
    margin: auto;
    background-color: #ece8ef;
    border-radius: 15px 15px 0 0;
}
.calendar-button
{
    background-color: #56351e !important;
    border: 1px solid #ff9b54 !important;
    color: #ece8ef !important;
}
/* for smaller devices different margin */
@media screen and (max-width: 767px) {
    .calendar-header
    {
        width: 100%;
        margin: auto;
    }
    .calendar
    {
        width: 100%;
        margin: auto;
    }
    .calendar-container
    {
        width: 90%;
        margin: 0;
    }
    #calendar-container
    {
        width: 90%;
    }
}
.today
{
    background-color: #ff9b54 !important;
    color: #231e1e !important;
}
.deactivated
{
    background-color: #c5c1c7 !important;
    color: #231e1e !important;
}

/* appointments popup window */
.modal
{
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(33.73, 20.78, 11.76, 0.5);
    display: none;
    position: fixed;
}
.modal-content
{
    width: 70%;
    margin: 15% auto;
    padding: 20px;
    background-color: #56351e;
    text-align: center;
}
.calendar-division
{
    height: 2px;
    border-width: 0;
    background-color: #ece8ef;
    width: 80%;
}
.app-marker
{
    display: table-cell;
    position: absolute;
    z-index: 1;
    background-color: #08415c;
    width: 20px;
    height: 20px;
    color: #ece8ef;
    vertical-align: middle;
    line-height: 20px;
}

/* list of appointments */
#appointments
{
    max-width: 100%;
    max-height: 300px;
    border-style: solid;
    border-color: #725744;
    border-width: 2px;
    overflow: scroll;
}
.app_div
{
    background-color: #08415c;
    margin: 0.25rem;
    border-radius: 5px;
}
.app_div:hover
{
    cursor: pointer;
}
.app_div p
{
    color: #ece8ef;
    text-align: left;
    margin-left: 0.5rem;
}
.app-title
{
    font-size: 150%;
}
.app-time
{
    font-size: 125%;
}

/* Modal for appointments */
.app-modal
{
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(33.73, 20.78, 11.76, 0.5);
    display: none;
    position: fixed;
}
.app-info-form
{
    width: 60%;
    margin: 15% auto;
    padding: 20px;
    background-color: #08415c;
    text-align: center;
    border-radius: 5px;
}
.app-info-form input
{
    background: transparent !important;
    border: none !important;
    border-bottom: 0.5px solid #6c6969 !important;
    text-align: center;
    font-size: 120%;
}
.app-info-form input:focus
{
    outline: none;
    box-shadow: none !important;
    border: none !important;
    border-bottom: #ff9b54 1px solid !important;
}
.app-info-form .label
{
    font-size: 150%;
    margin-top: 1.5rem;
}
.app-info-form .sublabel
{
    font-size: 110%;
    margin-top: 0.75rem;
}
.app-info-form [name="app-prijs"]
{
    width: auto;
}
.app-info-form form
{
    margin-bottom: 3rem;
}
/* Hide the default date picker icon in Chrome, Safari, and Edge */
/* Chrome, Edge, Safari (Webkit/Blink): */
.app-info-form [type="datetime-local"]::-webkit-calendar-picker-indicator {
    opacity: 0; /* of visibility: hidden */
    pointer-events: none; /* zodat het niet aanklikbaar is */
}
/* Chrome, Safari, Edge */
.app-info-form [type="number"]::-webkit-inner-spin-button,
.app-info-form [type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.app-info-form [type="number"] {
    -moz-appearance: textfield;
}

/* Popup message for appointments */
.popup-message
{
    visibility: hidden;
    width: auto;
    background-color: #03161f;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 10px;
    position: absolute;
    z-index: 3;
    bottom: 125%;
}
.popup-message.show
{
    visibility: visible !important;
    -webkit-animation: fadeIn 1s !important;
    animation: fadeIn 1s !important;
}
@-webkit-keyframes fadeIn
{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn
{
    from {opacity: 0;}
    to {opacity: 1;}
}

/* gen invoice */
.invoice-label
{
    margin-bottom: 0.26rem;
}
.input-label
{
    padding-bottom: 5.5px;
}
.fileinput
{
    height: 70px;
    width: 70%;
    max-width: 70%;
}