{% extends "layout_bestuur.html" %}

{% block title %}
    De Turfschuur | Dashboard
{% endblock %}

{% block main %}
    <!-- Popup window for appointments -->
    <div class="app-modal" id="app-modal">
        <div class="app-info-form" method="post">
            <div class="d-flex justify-content-end">
                <button class="btn close-button" id="close-app-modal">&times;</button>
            </div>
            <form id="info-form">
                <p class="rem-title mb-1 light label">Titel</p>
                <input class="crimson-pro-regular" type="text" name="app-titel">
                <p class="crimson-pro-regular light mt-3" id="app-person"></p>
                <div class="d-flex gap-3 flex-wrap justify-content-evenly">
                    <div class="d-flex flex-column align-items-center">
                        <p class="rem-title mb-1 light label">Begin</p>
                        <input class="crimson-pro-regular" type="datetime-local" name="app-begin">
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <p class="rem-title mb-1 light label">Eind</p>
                        <input class="crimson-pro-regular" type="datetime-local" name="app-eind">
                    </div>
                </div>
                <p class="rem-title mb-1 light label">Prijs</p>
                <input class="crimson-pro-regular" type="number" step="0.01" name="app-prijs">
                <p class="rem-title light mb-1 label">Overige informatie</p>
                <input class="crimson-pro-regular" type="text" name="app-info">
            </form>
            <!-- Popup message -->
            <div class="d-flex gap-3 flex-wrap justify-content-evenly mt-3 position-relative">
                <button id="btn-update" class="btn button dark-button" type="button">Bijwerken</button>
                <button id="btn-delete" class="btn button close-button" type="button">Verwijderen</button>
                <div class="popup-message d-flex flex-column" id="update-appointment-popup">
                    <p>Welke afspraken moeten worden bijgewerkt/verwijderd?</p>
                    <div id="update-btns" class="d-flex flex-wrap justify-content-center">
                        <button id="btn-all" class="btn button">Allemaal</button>
                        <button id="btn-single" class="btn button">Alleen deze</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popup window -->
    <div class="modal" id="modal">
        <div class="modal-content">
            <div class="d-flex justify-content-end">
                <button class="btn close-button" id="close-modal">&times;</button>
            </div>
            <div id="appointments" class="d-flex flex-column mt-4"></div>
            <header>
                <h2 class="rem-title light mb-4 mt-4">Nieuwe afspraak</h2>
            </header>
            <div class="form justify-content-evenly">
                <form class="d-flex flex-column align-items-center gap-4" method="post">
                    <!--row 1-->
                    <div class="d-flex gap-3 flex-wrap justify-content-evenly w-75">
                        <div class="d-flex flex-column align-items-center">
                            <p class="rem-title light mb-1">Titel</p>
                            <input placeholder="Titel" type="text" name="titel" required>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <p class="rem-title light mb-1">Begin</p>
                            <input placeholder="Beginijd" type="datetime-local" name="begin" id="begin" required>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <p class="rem-title light mb-1">Einde</p>
                            <input placeholder="Eindtijd" type="datetime-local" name="einde" id="einde" required>
                        </div>
                    </div>
                    <!--row 2-->
                    <hr class="calendar-division my-1">
                    <div class="d-flex flex-wrap gap-3 justify-content-evenly w-75">
                        <div class="d-flex flex-column align-items-center ml-4">
                            <p class="rem-title light mb-1">Prijs</p>
                            <input placeholder="Prijs" type="number" step="0.01" value="0.00" name="prijs">
                        </div>
                        <div>
                            <p class="rem-title light mb-1">Herhaling</p>
                            <label for="herhaling" class="light crimson-pro-regular">Wordt herhaald om zoveel weken: </label>
                            <input value="1" name="interval" min="1" max="52" type="number">
                            <label for="eind_herhaling" class="light crimson-pro-regular">Wordt zoveel keer herhaald: </label>
                            <input value="0" name="reeks" min="0" max="52" type="number">
                        </div>
                    </div>
                    <hr class="calendar-division my-1">
                    <!--row 3-->
                    <div class="d-flex gap-3 flex-wrap justify-content-evenly w-75">
                        <div class="d-flex flex-column align-items-center">
                            <p class="rem-title light mb-1">Adres</p>
                            <div class="justify-content-evenly">
                                <input type="text" placeholder="Voorletters" name="voorletter" class="mb-1 my-1">
                                <input type="text" placeholder="Achternaam" name="achternaam" class="mb-1">
                            </div>
                            <input type="text" placeholder="Straat" name="straat" class="mb-1">
                            <input type="text" placeholder="Huisnummer" name="huisnummer" class="mb-1">
                            <input type="text" placeholder="Postcode" name="postcode" class="mb-1">
                            <input type="text" placeholder="Woonplaats" name="woonplaats" class="mb-1">
                            <input type="text" placeholder="Land" name="land">
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <p class="rem-title light mb-1">Contactgegevens</p>
                            <input type="text" placeholder="E-mail of telefoonnummer" name="contactgegevens">
                        </div>
                    </div>
                    <hr class="calendar-division my-1">
                    <!--row 4-->
                    <div class="d-flex gap-3 flex-wrap justify-content-evenly w-75">
                        <div class="d-flex flex-column align-items-center">
                            <p class="rem-title light mb-1">Overige informatie</p>
                            <input type="text" placeholder="Overige informatie" name="info">
                        </div>
                    </div>
                    <!--row 5 (submit button)-->
                    <div class="d-flex flex-column align-items-center">
                        <button class="button btn crimson-pro-regular btn-lg" type="submit">Opslaan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--calendar-->
    <div class="container-fluid pt-5 pb-5 justify-content-center justify-content-evenly" id="calendar-container">
            <header class="calendar-header justify-content-between text-center d-flex flex-row pb-3 pt-3 align-middle">
                <p id="calendar-month" class="rem-title dark my-auto mx-3"></p>
                <div class="mx-3">
                    <button class="btn calendar-button" onclick="previous_month()">&lsaquo;</button>
                    <button class="btn calendar-button" onclick="next_month()">&rsaquo;</button>
                </div>
            </header>
        <table class="calendar">
            <thead>
                <tr>
                    <th scope="col">Ma</th>
                    <th scope="col">Di</th>
                    <th scope="col">Wo</th>
                    <th scope="col">Do</th>
                    <th scope="col">Vr</th>
                    <th scope="col">Za</th>
                    <th scope="col">Zo</th>
                </tr>
            </thead>
            <tbody id="calendar-body">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}