{% extends "layout_bestuur.html" %}

{% block title %}
    De Turfschuur | Dashboard
{% endblock %}

{% block main %}
    <div class="container-fluid pt-5 pb-5 justify-content-center justify-content-evenly" id="calendar-container">
            <header class="calendar-header justify-content-between text-center d-flex flex-row pb-3 pt-3 align-middle">
                <p id="calendar-month" class="rem-title dark my-auto mx-3"></p>
                <div class="mx-3">
                    <button class="btn calendar-button" onclick="previous_month()">&lsaquo;</button>
                    <button class="btn calendar-button" onclick="next_month()">&rsaquo;</button>
                </div>
            </header>
        <table class="calendar">
            <thead>
                <tr>
                    <th scope="col">Ma</th>
                    <th scope="col">Di</th>
                    <th scope="col">Wo</th>
                    <th scope="col">Do</th>
                    <th scope="col">Vr</th>
                    <th scope="col">Za</th>
                    <th scope="col">Zo</th>
                </tr>
            </thead>
            <tbody id="calendar-body">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}