{% extends "layout.html" %}

{% block title %}
    De Turfschuur
{% endblock %}

{% block main %}
    <div class="d-flex mx-auto flex-column turfschuur-text" id="turfschuur">
        <h2 class="light rem-title mt-4">Verenigingsgebouw 'De Turfschuur'.</h2>
        <p class="light crimson-pro-regular mt-3">
            Vlak naast de kerk staat het Hervormd verenigingsgebouw 'De Turfschuur'. Het langgerekte gebouw strekt zich uit langs de courtine tussen het Molen- en het Pastoorsbolwerk en vormt één geheel met de rosmolen. Het pand is in 1985 gereconstrueerd op grond van oorspronkelijke tekeningen uit 1749. Zoals de naam al aangeeft, gaat het om de historische turfschuur van de vesting waar de brandstof voor de militaire gebouwen werd opgeslagen. Oorspronkelijk had het gebouw aan de achterzijde een open constructie omdat de turf goed moest kunnen drogen voor gebruik. De opengewerkte delen zijn door middel van het verdiepte metselwerk duidelijk gemarkeerd.
        </p>
        <p class="light crimson-pro-regular">
            Het huidige gebouw wordt gebruikt voor kerkelijke activiteiten, maar kan door de week en op zaterdagen ook gehuurd worden voor andere bijeenkomsten. Het gebouw beschikt over een zaal die ruimte biedt aan ongeveer 60-80 personen. In de zaal is een podium aanwezig. Er kan gebruik worden gemaakt van de keuken, met de daarin aanwezige koffie- en theevoorzieningen. Verder zijn er twee koelkasten en een gasfornuis aanwezig. In overleg kan de catering ook verzorgd worden.
        </p>
        <p class="light crimson-pro-regular">
            Voor meer informatie kunt u contact opnemen via het onderstaande telefoonnummer. We bespreken graag de mogelijkheden met u.
        </p>
    </div>
    <div id="contact" class="d-flex flex-column align-items-center my-4 pb-5">
        <p class="text-center light rem-title">06-12345678</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d286.87176170741304!2d7.191646263686685!3d53.00710888299104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1snl!2snl!4v1755859313222!5m2!1snl!2snl" width="50%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
{% endblock %}