{% extends "layout.html" %}

{% block title %}
    De Turfschuur | Aanmelden gelukt
{% endblock %}

{% block main %}
    <div class="container-fluid d-flex flex-column justify-content-center">
        <h1 class="rem-title light mx-5 text-center mt-3">Aanmelden gelukt</h1>
        <p class="crimson-pro-regular light mx-5 text-center">Er is een verzoek gestuurd naar de bestuursleden om uw account aan te maken. Als uw account is goedgekeurd, kunt u een bericht verwachten van een van onze bestuursleden.</p>
    </div>
{% endblock %}